<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>RoleServlet</display-name>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>controller.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/RoleServlet</url-pattern>
  </servlet-mapping>
  <display-name>persons</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AgreementServlet</display-name>
    <servlet-name>AgreementServlet</servlet-name>
    <servlet-class>controller.AgreementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgreementServlet</servlet-name>
    <url-pattern>/AgreementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonServlet</display-name>
    <servlet-name>PersonServlet</servlet-name>
    <servlet-class>controller.PersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/PersonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusAggrementServlet</display-name>
    <servlet-name>StatusAggrementServlet</servlet-name>
    <servlet-class>controller.StatusAggrementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusAggrementServlet</servlet-name>
    <url-pattern>/StatusAggrementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeAggrementServlet</display-name>
    <servlet-name>TypeAggrementServlet</servlet-name>
    <servlet-class>controller.TypeAggrementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeAggrementServlet</servlet-name>
    <url-pattern>/TypeAggrementServlet</url-pattern>
  </servlet-mapping>
</web-app>